@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
  exclude: scrollbar, rootscrollgutter;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  border-radius: 10px;
}

:root {
  --background: var(--color-gray-50);
  --foreground: var(--color-stone-950);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* add fonts here */
}

html,
body {
  @apply select-none scroll-smooth;
  background: var(--background);
  color: var(--foreground);
}

section {
  @apply p-5 border-b border-black/10;
}

a {
  @apply text-stone-800 hover:underline;
}
